
h1 {
	font-family: 'Norican', cursive;
	font-size: 90px;
}

.btn-md {
	border: 3px solid black;
	border-radius: 5px;
    background-color: purple;
    font-size: 50px;
    width: 100px;
    height: 100px;
}

#refresh {
	font-family: 'Norican', cursive;
	font-size: 30px;
}
 /*//need to change the look of the disabled="disabled" state of the 
 buttons in CSS and JS - it will actually represent the last move*/

.col-centered {
	text-align: center;
	display: block;
};


div {
	border: 2px solid #f0f;
}

.disabled {
	background-color: orange;
}